.channel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.channel-header-outer {
    height: 64px;
    border-bottom: 1px solid grey;
    background-color: white;
    position: fixed;
    z-index: 10;
    left: 230px;
    width: 100%;
}

.channel-header-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 13px;
}


.channel__header-name {
    font-weight: 700;
}

.channel__header-info {
    padding-top: 2px;
    display: flex;
    font-size: 14px;

}

.modal-form-title {
    font-size: 22px;
    font-weight: 900;
    width: 100%;
}

.modal-form-container {
    padding: 10px 0;
}

div[contenteditable]{
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    max-height: 200px;
    min-height: 56px;
    width: 475px;
    overflow: auto;
}

.modal-form-buttons {
    padding-top: 20px;
    text-align: right;
}

.modal-form-button {
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 15px;
    outline: 0;
    background-color: transparent;
}

.modal-set-topic {
    margin-left: 15px;
    color:white;
    border-color: #007a5a;
    background-color: #007a5a
}


.fa-user {
    font-size: inherit;
    padding-right: 5px;
}
.channel__header-members {
    font-size: inherit;
}

.channel__header-topic {
    padding: 0;
    padding-left: 3px;
    font-size: inherit;
    border: 0;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
}

.channel-primary-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

.channel-messages-container {
    padding: 64px 0 55px;
}

.channel-message {
    display: flex;
    padding: 8px 0 8px 12px;
    top: 0px;
    width: 100%;
    position: relative;
}

.channel-message:hover {
    background-color: #F9F9F9;
}
