.navbar {
    grid-area: navbar;
    background-color: #3f0e40;
    width: 260px;
    height: 100%;
    top: 38px;
    position: fixed;
    font-size: 16px;
}

.navbar-container {
    color: #BFBFBF;

}

.navbar-channel-dms-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    padding: 15px;

}

.navbar__subheader {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 10px;

}

.navbar-channels {
    padding: 0 20px
}

.navbar__subheader-name {
    padding-left: 10px;
}

.navbar__subheader-title {
    display: flex;
    align-items: center;
    width: 170px;
    cursor: pointer;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;

}

.navbar-channel-browser, .navbar-dm-browser {
    height: 10px;
    width: 10px;
}

.navbar-channel {
    padding: 5px 0;
    cursor: pointer;
}
