.navbar {
    grid-area: navbar;
    background-color: #3f0e40;
    width: 230px;
    height: 100%;
    top: 38px;
    position: fixed;
    font-size: 16px;
}

.navbar-container {
    color: #BFBFBF;
    border: 1px solid #502351

}

.navbar-more {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #502351;
}

.navbar__more-container {
    display: flex;
}

.navbar__more-subheader {
    display: flex;
    padding: 8px 20px 8px;
    width: 100%;
}

.navbar__more-subheader:hover {
    background-color: #341135;
    width: 100%;
    cursor: pointer;
}

.navbar-channel-dms-container {
    display: flex;
    flex-direction: column;

}

.navbar__subheader {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 6px;

}


.navbar__subheader-name {
    padding-left: 10px;
    user-select: none;


}

.navbar__subheader-title {
    display: flex;
    align-items: center;
    width: 170px;
    cursor: pointer;
    padding: 0 10px;
}

.arrow-right {
    width: 10px;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #BFBFBF;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #BFBFBF;

}

.navbar-channel-browser, .navbar-dm-browser {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    padding: 0;
    outline: 0;
    color: #BFBFBF;
}

.navbar-channel-browser:hover, .navbar-dm-browser:hover {
    background-color: rgba(255,255,255, .10);
}

.fa-plus {
    font-size: inherit;
}

.fa-times {
    font-size: 14px;
}

.navbar-channels, .navbar-dms {
    /* padding: 0 15px; */
}

.navbar-channel {
    padding: 0 10px 0 30px;
    cursor: pointer;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.channel-delete-button {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    padding: 0;
    outline: 0;
    color: #BFBFBF;
    display: none;
}

.channel-delete-button:hover {
    background-color: rgba(255,255,255, .10);
}

.navbar-channel:hover .channel-delete-button {
    display: block;
}

.navbar-channel:hover, .navbar-dm:hover {
    background-color: #341135;
    width: 100%;
}



.addChannel-form-title {
    font-size: 22px;
    font-weight: 900;
    width: 100%;
}

.addChannel-form-container {
    padding: 10px 0;
}

.addChannel-form-title{
    border-radius: 3px;
    padding: 10px;
    min-height: 56px;
    font-size: 22px;
    width: 300px;
    overflow: auto;
}


.addChannel-form-buttons {
    padding-top: 20px;
    text-align: right;
}

.addChannel-form-button {
    border: 1px solid grey;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 15px;
    outline: 0;
    background-color: transparent;
}

.addChannel-add {
    margin-right: 15px;
    color:white;
    border-color: #007a5a;
    background-color: #007a5a
}
