.navbar {
    grid-area: navbar;
    background-color: #3f0e40;
    width: 260px;
    height: 100%;
    top: 38px;
    position: fixed;
    font-size: 16px;
}

.navbar-container {
    color: #BFBFBF;

}

.navbar-channel-dms-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #BFBFBF;
    padding: 15px;

}

.navbar__subheader {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 6px;

}

.navbar-channels {
    padding: 0 20px
}

.navbar__subheader-name {
    padding-left: 10px;
    user-select: none;


}

.navbar__subheader-title {
    display: flex;
    align-items: center;
    width: 170px;
    cursor: pointer;
}

.arrow-right {
    width: 10px;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #BFBFBF;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #BFBFBF;

}

.navbar-channel-browser, .navbar-dm-browser {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    padding: 0;
    outline: 0;
    color: #BFBFBF;
}

.navbar-channel-browser:hover, .navbar-dm-browser:hover {
    background-color: rgba(255,255,255, .10);
}

.fa-plus {
    font-size: inherit;
}
.navbar-channel {
    padding: 5px 0;
    cursor: pointer;
}
