.procard-container {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
}

.procard__procardImage {
    height: 300px;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.procard__userInfo {
    padding: 15px
}

.procard__fullName {
    font-size: 24px;
    font-weight: bold;
}

.procard__title {
    font-weight: 400px;
    width: 270px;
}

.procard__buttons {
    padding: 0 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.procard__button {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    outline: 0;
    width: 40%;
    height: 40px;
    padding: 10 15px;
    background-color: #1264a3;
    border: none;
    border-radius: 5px;
    box-shadow: ;

}
.procard__message-button:hover {
    background-color: #3387c6;
    color: white;
}

.procard__editProfile-button:hover {
    background-color: white;
}


.procard__editProfile-button {
    margin-left: 20px;
    color: #3387c6;
    background-color: whitesmoke;
    border: 1px solid #3387c6;
}


.ReactModal__Body--open {
    overflow-y: hidden;
  }
