
.signup-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
