/* default  */

* {
    box-sizing: border-box;
  }

  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
      margin:0;
      padding:0;
      border:0;
      outline:0;
      font-size: 16px;
      vertical-align:baseline;
      background:transparent;
      font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      line-height: inherit;
    }

    a {
        text-decoration: none;
        color: inherit;https://duckduckgo.com/?q=react+html&t=brave&ia=web
    }
    ​
    article,aside,details,figcaption,figure,
    header,hgroup,menu,nav,section {
        display:block;
    }
    ​
    nav, ol, ul {
        list-style:none;
    }


    /* End of default stlying  */
html,
body {
    height: 100%;
    margin: 0;
}
#root {
    display: grid;
    height: 100%;
}


.root-container {
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: 38px auto;
    grid-template-areas:
    'searchBar searchBar'
    'navbar mainContent';
}

.search-bar {
    grid-area: searchBar;
    background-color: #350d36;
    top: 0;
    height: 38px;
    width: 100%;
    position:fixed;
    z-index: 100;
}

.nav-bar {
    grid-area: navbar;
    background-color: #3f0e40;
    width: 260px;
    height: 100%;
    position: fixed;
}

.main-content {
    grid-area: mainContent;
    display: grid;
    grid-template-areas: 'main-content';
}




.channel-container {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
}

.channel-header {
    height: 64px;
    border-bottom: 1px solid black;
    background-color: white;
    position: fixed;
    left: 260px;
    right: 0;
    z-index: 50;

}
.channel-primary-view {
    display: flex;
    flex-direction: column;
}

.channel-messages-container {
    padding: 64px 0 55px 12px;
}


.message-input-container-outer {
    z-index: 100;
    position: fixed;
    right: 0;
    left: 260px;
    bottom: 0;
    background-color: white;
}

.message-input-container-inner {
    padding: 0 10px 10px;
}
.message-input {
    padding: 10px;
    font-size: 15px;
    outline: 0;
    width: 100%;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.shortcut-button {
    width: 10px;
    height: 100%;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.message-profile-pic {
    height: 36px;
    width: 36px;
}

.channel-message {
    display: flex;
    padding: 8px 0;
}

.message-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.messageSender {
    font-weight: bold;

}
